@keyframes animate-1 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes animate-2 {
    from{
        transform: translateY(20px);
    }
    to{
        transform: translateY(0px);
    }
}
@keyframes animate-3 {
    from{
        transform:translate(-50%,-50%) rotate(0deg);
    }
    to{
        transform:translate(-50%,-50%) rotate(360deg);
    }
}
@keyframes animate-4 {
    0%{
        opacity: 0;
    }
    25%{
        transform:translateY(-20px) ;
    }
    50%{
        
        transform:translateY(0px) ;
        opacity: 1;
    }
    100%{
        transform:translateX(150%) ;
    }
}